@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Raleway:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: Poppins, Raleway, sans-serif;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Quite Magical";
  src: url(/src/Components/QuiteMagicalRegular-8VA2.ttf);
  font-style: normal;
  font-size: 26px;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  line-height: 1.5;
  /* color: #5e4fab; 
  color: #444a4e; */
} /*#7450E9*/

.typed-fade-out1 {
  animation: new-typed-anim 900ms linear;
}

@keyframes new-typed-anim {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  90%,
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/* .container .box:nth-child(2) .circle, 
.container .box:nth-child(2) .buy {
  background: #9bdc28;
} */

/*************/

/* .container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  // scroll-snap-type: y mandatory; 
}

.container .section {
  position: relative;
  width: 100%;
  height: 100%;
  // scroll-snap-align: start; 
  background-blend-mode: multiply;
}

.container .section:nth-child(1) {
  background: rgb(93, 168, 212) url(/src/Components/Images/mark.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.container .section:nth-child(2) {
  background: rgb(93, 168, 212) url(/src/Components/Images/lambo.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.container .section:nth-child(3) {
  background: rgb(93, 168, 212) url(/src/Components/Images/mark.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.container .section:nth-child(4) {
  background: rgb(93, 168, 212) url(/src/Components/Images/lambo.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.content {
  position: absolute;
  bottom: 50px;
  left: 50px;
  max-width: 700px;
} */

/* <div className="container">
  <div className="section">
    <div className="content">
      <h2 className="h2">Section one Title</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
        volutpat ultrices risus, eget mattis neque maximus in. Curabitur
        facilisis dui ac hendrerit auctor. In quis gravida nulla. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos. Maecenas fermentum scelerisque consequat.
        Suspendisse nisi eros, facilisis sed ornare vel, bibendum eget
        risus. Nullam lobortis tincidunt ligula, ac tincidunt velit
      </p>
    </div>
  </div>
  <div className="section">
    <div className="content">
      <h2 className="h2">Section Two Title</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
        volutpat ultrices risus, eget mattis neque maximus in. Curabitur
        facilisis dui ac hendrerit auctor. In quis gravida nulla. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos. Maecenas fermentum scelerisque consequat.
        Suspendisse nisi eros, facilisis sed ornare vel, bibendum eget
        risus. Nullam lobortis tincidunt ligula, ac tincidunt velit
      </p>
    </div>
  </div>
  <div className="section">
    <div className="content">
      <h2 className="h2">Section Three Title</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
        volutpat ultrices risus, eget mattis neque maximus in. Curabitur
        facilisis dui ac hendrerit auctor. In quis gravida nulla. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos. Maecenas fermentum scelerisque consequat.
        Suspendisse nisi eros, facilisis sed ornare vel, bibendum eget
        risus. Nullam lobortis tincidunt ligula, ac tincidunt velit
      </p>
    </div>
  </div>
  <div className="section">
    <div className="content">
      <h2 className="h2">Section Four Title</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
        volutpat ultrices risus, eget mattis neque maximus in. Curabitur
        facilisis dui ac hendrerit auctor. In quis gravida nulla. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos. Maecenas fermentum scelerisque consequat.
        Suspendisse nisi eros, facilisis sed ornare vel, bibendum eget
        risus. Nullam lobortis tincidunt ligula, ac tincidunt velit
      </p>
    </div>
  </div>
  <div className="section">
    <div className="content">
      <h2 className="h2">Section Five Title</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
        volutpat ultrices risus, eget mattis neque maximus in. Curabitur
        facilisis dui ac hendrerit auctor. In quis gravida nulla. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos. Maecenas fermentum scelerisque consequat.
        Suspendisse nisi eros, facilisis sed ornare vel, bibendum eget
        risus. Nullam lobortis tincidunt ligula, ac tincidunt velit
      </p>
    </div>
  </div>
</div> */
